* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
  }
.logo {
    width: 80vw;
  }
  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }
#header-img{
    width: 20%; 
}
#nav-bar{
    width: 80%;
    height: 20%;
    
}
nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
a{
    text-decoration: none;
}
li {
    list-style: none;
  }
#form-section{
    padding-top: 100px;
    text-align: center;
}
input{
    margin-bottom: 10px;
}
.email-adress{
    background-color: white;
}
.submit-button{
    background-color: orange;
}
#form input[type='submit']{
    cursor:pointer;
}
#features{
    padding-top: 70px;
}
#features h1,p{
    text-align: left;
    padding-left: 200px;
}
#features p{
    margin-bottom: 50px;
}
#how-it-works{
    align-items: center;
    display: flex;
    justify-content: center;
}
iframe{
    margin-top: 50px;
    margin-bottom: 50px;
}
#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }
.product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  .product > h2 {
    margin-top: 15px;
  }
ol{
    list-style-type: none;
}
.product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 5px 0;
  }
  .product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
  }
  .product > button:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  .btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
  }
  @media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
}
@media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }
  @media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  }